:root {
  --orange: #FF7C42;
  --white: #fff;
  --black: #000;
  --gray: #918b8b;
}

.orange-color{
  color: var(--orange);
}

.white-color{
  color: #fff;
}

.edit-button{
  background-color: var(--orange);
  border-color: var(--orange);
  border-radius: 50px;
  height: 50px;
  width: 50px;
  
}

.shadow{
  box-shadow: 20px 5px 5px var(--black);
}

.buttons-group{
  background-color: var(--white);
  border: solid 0.5px var(--gray);
  padding: 10px 25px 10px 25px;
}

.card-size{
  height: 30%;
  width: 50%;
}

.img{
  background-repeat:no-repeat;
  background:url(https://source.unsplash.com/random);
  border-radius: 0;
  border-color: none;
}